$blue: #4ebeff;
$blue-med: #2a9df4;
$blue-dark: #244397;

$font-el: 'Manrope-ExtraLight';
$font-l: 'Manrope-Light';
$font-r: 'Manrope-Regular';
$font-m: 'Manrope-Medium';
$font-sb: 'Manrope-SemiBold';
$font-b: 'Manrope-Bold';

@import './components/components.scss';