/*-------- Header --------*/

.header {
    width: 100%;
    padding-bottom: 80px;

    position: fixed;
    left: 0;

    z-index: 10;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 129px;
    }

    &__menu {
        display: flex;
    }

    &__menu-item:not(:first-child) {
        margin-left: 49px;
    }

    &__menu-link {
        font-family: $font-b;
        color: #ffffff;
    }

    &__menu-link:hover, &__menu-link.active {
        color: $blue;
    }
}