/*-------- Header --------*/

.header {
    width: 100%;

    position: fixed;
    left: 0;

    z-index: 10;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 129px;
    }

    &__menu {
        display: flex;
    }

    &__menu-item:not(:first-child) {
        margin-left: 49px;
    }

    &__menu-link {
        font-family: $font-b;
        color: #ffffff;
    }

    &__menu-link:hover, &__menu-link.active {
        color: $blue;
    }

    &__button {
        transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s ease-out;
    }

    &.has-scrolled .logo {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-30%);
    }

    &.has-scrolled &__button {
        opacity: 0;
        visibility: hidden;
        transform: translateX(30%);
    }
}