@import './swiper-vars.scss';

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  z-index: 10;
  background-color: $blue-dark;
  border-radius: 50%;
  cursor: pointer;
  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
    &:before, &:after {
      content: '';
      position: absolute;
  }

  &:before {
      width: 12px;
      height: 1px;
      background-color: #ffffff;
      transition: background-color 0.2s ease-in-out;
  }

  &:after {
      $size: 4px;
      width: $size;
      height: $size;

      right: 9px;

      border: 1px solid #ffffff;
      border-left: none;
      border-top: none;

      transition: border-color 0.2s ease-in-out;

      transform: rotateZ(-45deg);
  }
}

.swiper-button-prev {
  right: 190%;
  transform: rotateZ(180deg);
}

.swiper-button-next {
  left: 101%;
}

@each $navColorName, $navColorValue in $colors {
  .swiper-button-prev,
  .swiper-button-next {
    &.swiper-button-#{$navColorName} {
      --swiper-navigation-color: #{$navColorValue};
    }
  }
}
.swiper-button-lock {
  display: none;
}
